In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# 读入csv 数据
base_supply = pd.read_csv("../baselineB.csv")

In [4]:
base_supply.head(10)

   Unnamed: 0                              unit          ts         qty
0           6  e527dedfec712d75834a2eacb23e51fc  2021-03-08   59.251771
1          13  e527dedfec712d75834a2eacb23e51fc  2021-03-15    0.000000
2          20  e527dedfec712d75834a2eacb23e51fc  2021-03-22    0.255208
3          27  e527dedfec712d75834a2eacb23e51fc  2021-03-29    0.000000
4          34  e527dedfec712d75834a2eacb23e51fc  2021-04-05    0.000000
5          41  e527dedfec712d75834a2eacb23e51fc  2021-04-12    0.000000
6          48  e527dedfec712d75834a2eacb23e51fc  2021-04-19    0.000000
7          55  e527dedfec712d75834a2eacb23e51fc  2021-04-26  135.544271
8          62  e527dedfec712d75834a2eacb23e51fc  2021-05-03   26.767969
9          69  e527dedfec712d75834a2eacb23e51fc  2021-05-10    0.505208

In [5]:
base_supply.shape

(4130, 4)

In [6]:
base_supply.groupby('unit')['qty'].sum()

unit
029e6c46cbb94a7b7b9d5d5295113ae6      42.560000
048b5b66a3733fcd56091be6ed8e7d86     816.200000
0490a15183efadaa0e33f0ecb60e6013    1406.400000
04de458c5d8e1a1b78966b0256e45682    3176.640000
050b094f4256b2c0390077539ea3d543     112.000000
                                       ...
faff848dbacb62f976f9bca84670a7cd     551.680000
fc9e415c0f5c9f28957e07d22fd7b42c      39.840000
fd66d107be8dd816c24961da4e791a74    9741.470052
ff3a4f7b734b0ef18bcd1600442a11dd    4539.440000
ff65120018e54439e4071446a1cf6b14     106.720000
Name: qty, Length: 295, dtype: float64